#sea-land-breeze {
  position: relative; }
  #sea-land-breeze img {
    width: 100%; }

.sea-wind .temp:nth-child(1) {
  color: red;
  position: absolute;
  bottom: 30%;
  left: 10%;
  font-size: 30px;
  font-weight: bold; }
.sea-wind .temp:nth-child(2) {
  color: red;
  position: absolute;
  bottom: 30%;
  left: 40%;
  font-size: 30px;
  font-weight: bold; }
.sea-wind .arrow_ap {
  position: absolute;
  background-color: red; }
.sea-wind .down_ap, .sea-wind .up_ap {
  width: 10px;
  height: 300px;
  top: 20%; }
.sea-wind .down_ap {
  left: 10%;
  transform: translateX(-50%); }
  .sea-wind .down_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    top: 0;
    left: 50%;
    transform: translateY(-100%) translateX(-50%); }
.sea-wind .up_ap {
  left: 40%;
  top: 17%;
  transform: translateX(-50%); }
  .sea-wind .up_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%); }
.sea-wind .btn {
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid blue;
  border-top: 10px solid transparent;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 100; }
.sea-wind .left_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  top: 15%;
  left: 15%; }
  .sea-wind .left_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid red;
    right: -40px;
    top: 50%;
    transform: translateY(-50%); }
.sea-wind .right_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  top: 60%;
  left: 15%; }
  .sea-wind .right_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid red;
    left: -40px;
    top: 50%;
    transform: translateY(-50%); }
.sea-wind .text {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 2rem;
  font-weight: bold;
  color: red; }

.land-wind .temp:nth-child(1) {
  color: red;
  position: absolute;
  bottom: 30%;
  left: 60%;
  font-size: 30px;
  font-weight: bold; }
.land-wind .temp:nth-child(2) {
  color: red;
  position: absolute;
  bottom: 30%;
  left: 90%;
  font-size: 30px;
  font-weight: bold; }
.land-wind .arrow_ap {
  position: absolute;
  background-color: red; }
.land-wind .down_ap, .land-wind .up_ap {
  width: 10px;
  height: 300px;
  top: 20%; }
.land-wind .down_ap {
  left: 90%;
  transform: translateX(-50%); }
  .land-wind .down_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    top: 0;
    left: 50%;
    transform: translateY(-100%) translateX(-50%); }
.land-wind .up_ap {
  left: 60%;
  top: 17%;
  transform: translateX(-50%); }
  .land-wind .up_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%); }
.land-wind .btn {
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid blue;
  border-top: 10px solid transparent;
  position: absolute;
  top: 10%;
  left: 90%;
  z-index: 100; }
.land-wind .left_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  bottom: 35%;
  left: 65%; }
  .land-wind .left_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid red;
    right: -40px;
    top: 50%;
    transform: translateY(-50%); }
.land-wind .right_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  top: 15%;
  left: 65%; }
  .land-wind .right_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid red;
    left: -40px;
    top: 50%;
    transform: translateY(-50%); }
.land-wind .text {
  position: absolute;
  top: 50%;
  left: 70%;
  font-size: 2rem;
  font-weight: bold;
  color: red; }

#mountain-valley-breeze {
  position: relative; }
  #mountain-valley-breeze img {
    width: 100%; }

.mountain-wind .temp:nth-child(1) {
  color: red;
  position: absolute;
  bottom: 20%;
  left: 62%;
  font-size: 30px;
  font-weight: bold; }
.mountain-wind .temp:nth-child(2) {
  color: red;
  position: absolute;
  bottom: 35%;
  left: 90%;
  font-size: 30px;
  font-weight: bold; }
.mountain-wind .arrow_ap {
  position: absolute;
  background-color: red; }
.mountain-wind .down_ap, .mountain-wind .up_ap {
  width: 10px;
  height: 300px;
  top: 20%; }
.mountain-wind .down_ap {
  left: 62%;
  top: 30%;
  transform: translateX(-50%); }
  .mountain-wind .down_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    top: 0;
    left: 50%;
    transform: translateY(-100%) translateX(-50%); }
.mountain-wind .up_ap {
  left: 90%;
  top: 17%;
  transform: translateX(-50%); }
  .mountain-wind .up_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%); }
.mountain-wind .btn {
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid blue;
  border-top: 10px solid transparent;
  position: absolute;
  top: 10%;
  left: 92%;
  z-index: 100; }
.mountain-wind .left_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  top: 20%;
  left: 65%;
  transform: rotateZ(-15deg);
  transform-origin: center center; }
  .mountain-wind .left_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid red;
    right: -40px;
    top: 50%;
    transform: translateY(-50%); }
.mountain-wind .right_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  top: 64%;
  transform: rotateZ(-15deg);
  left: 65%; }
  .mountain-wind .right_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid red;
    left: -40px;
    top: 50%;
    transform: translateY(-50%); }
.mountain-wind .text {
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 2rem;
  font-weight: bold;
  color: red; }

.valley-wind .temp:nth-child(1) {
  color: red;
  position: absolute;
  bottom: 25%;
  left: 10%;
  font-size: 30px;
  font-weight: bold; }
.valley-wind .temp:nth-child(2) {
  color: red;
  position: absolute;
  bottom: 40%;
  left: 40%;
  font-size: 30px;
  font-weight: bold; }
.valley-wind .arrow_ap {
  position: absolute;
  background-color: red; }
.valley-wind .down_ap, .valley-wind .up_ap {
  width: 10px;
  height: 300px;
  top: 20%; }
.valley-wind .down_ap {
  left: 40%;
  top: 15%;
  transform: translateX(-50%); }
  .valley-wind .down_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    top: 0;
    left: 50%;
    transform: translateY(-100%) translateX(-50%); }
.valley-wind .up_ap {
  left: 10%;
  top: 30%;
  transform: translateX(-50%); }
  .valley-wind .up_ap::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    bottom: 0;
    left: 50%;
    transform: translateY(100%) translateX(-50%); }
.valley-wind .btn {
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid blue;
  border-top: 10px solid transparent;
  position: absolute;
  top: 10%;
  left: 45%;
  z-index: 100; }
.valley-wind .left_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  bottom: 35%;
  left: 15%;
  transform: rotateZ(-15deg); }
  .valley-wind .left_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid red;
    right: -40px;
    top: 50%;
    transform: translateY(-50%); }
.valley-wind .right_ap {
  width: 300px;
  height: 10px;
  position: absolute;
  top: 15%;
  left: 15%;
  transform: rotateZ(-15deg); }
  .valley-wind .right_ap::after {
    content: '';
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid red;
    left: -40px;
    top: 50%;
    transform: translateY(-50%); }
.valley-wind .text {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 2rem;
  font-weight: bold;
  color: red; }

#urban-breeze {
  position: relative; }
  #urban-breeze img {
    width: 100%; }
  #urban-breeze .urban-wind .temp:nth-child(1) {
    color: red;
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-size: 30px;
    font-weight: bold; }
  #urban-breeze .urban-wind .temp:nth-child(2) {
    color: red;
    position: absolute;
    bottom: 20%;
    left: 50%;
    font-size: 30px;
    font-weight: bold; }
  #urban-breeze .urban-wind .temp:nth-child(3) {
    color: red;
    position: absolute;
    bottom: 20%;
    left: 90%;
    font-size: 30px;
    font-weight: bold; }
  #urban-breeze .urban-wind .arrow_ap {
    position: absolute;
    background-color: red; }
  #urban-breeze .urban-wind .down_ap, #urban-breeze .urban-wind .up_ap {
    width: 10px;
    height: 400px;
    top: 20%; }
  #urban-breeze .urban-wind .down_ap {
    left: 90%;
    transform: translateX(-50%); }
    #urban-breeze .urban-wind .down_ap::after {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid red;
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%); }
  #urban-breeze .urban-wind .up_ap {
    left: 60%;
    top: 17%;
    transform: translateX(-50%); }
    #urban-breeze .urban-wind .up_ap::after {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid red;
      bottom: 0;
      left: 50%;
      transform: translateY(100%) translateX(-50%); }
  #urban-breeze .urban-wind .v1 {
    left: 10%; }
  #urban-breeze .urban-wind .v2 {
    left: 50%; }
  #urban-breeze .urban-wind .v3 {
    left: 90%; }
  #urban-breeze .urban-wind .btn {
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid blue;
    border-top: 10px solid transparent;
    position: absolute;
    top: 10%;
    left: 92%;
    z-index: 100; }
  #urban-breeze .urban-wind .left_ap {
    width: 400px;
    height: 10px;
    position: absolute;
    bottom: 35%;
    left: 65%; }
    #urban-breeze .urban-wind .left_ap::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 20px solid transparent;
      border-left: 20px solid red;
      right: -40px;
      top: 50%;
      transform: translateY(-50%); }
  #urban-breeze .urban-wind .right_ap {
    width: 400px;
    height: 10px;
    position: absolute;
    top: 15%;
    left: 65%; }
    #urban-breeze .urban-wind .right_ap::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid transparent;
      border-right: 20px solid red;
      left: -40px;
      top: 50%;
      transform: translateY(-50%); }
  #urban-breeze .urban-wind .w1 {
    left: 15%; }
  #urban-breeze .urban-wind .w2 {
    left: 15%;
    bottom: 20%; }
  #urban-breeze .urban-wind .w3 {
    left: 55%;
    top: 15%; }
  #urban-breeze .urban-wind .w4 {
    left: 55%;
    top: 80% !important; }
  #urban-breeze .urban-wind .text {
    position: absolute;
    top: 50%;
    left: 70%;
    font-size: 2rem;
    font-weight: bold;
    color: red; }

.quiz-options {
  display: flex;
  gap: 20px; }

.note {
  position: fixed;
  bottom: 10%;
  right: 10%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: wheat; }

/*# sourceMappingURL=index.css.map */
