$color: red;
$font-size: 30px;

#sea-land-breeze {
  position: relative;

  img {
    width: 100%;
  }
}

.sea-wind {
  .temp:nth-child(1) {
    color: $color;
    position: absolute;
    bottom: 30%;
    left: 10%;
    font-size: $font-size;
    font-weight: bold;
  }

  .temp:nth-child(2) {
    color: $color;
    position: absolute;
    bottom: 30%;
    left: 40%;
    font-size: $font-size;
    font-weight: bold;
  }

  .arrow_ap {
    position: absolute;
    background-color: $color;

  }

  .down_ap, .up_ap {
    width: 10px;
    height: 300px;
    top: 20%;
  }

  .down_ap {
    left: 10%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      //  三角形
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid $color;
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);

    }
  }

  .up_ap {
    left: 40%;
    top: 17%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $color;
      bottom: 0;
      left: 50%;
      transform: translateY(100%) translateX(-50%);
    }
  }

  .btn {
    //  三角形
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid blue;
    border-top: 10px solid transparent;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 100;

  }


  .left_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    top: 15%;
    left: 15%;

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 20px solid transparent;
      border-left: 20px solid $color;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .right_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    top: 60%;
    left: 15%;

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid transparent;
      border-right: 20px solid $color;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .text {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 2rem;
    font-weight: bold;
    color: $color;
  }

}


$land_color: red;
$font-size_land: 30px;

.land-wind {
  .temp:nth-child(1) {
    color: $land_color;
    position: absolute;
    bottom: 30%;
    left: 60%;
    font-size: $font-size;
    font-weight: bold;
  }

  .temp:nth-child(2) {
    color: $color;
    position: absolute;
    bottom: 30%;
    left: 90%;
    font-size: $font-size;
    font-weight: bold;
  }

  .arrow_ap {
    position: absolute;
    background-color: $color;

  }

  .down_ap, .up_ap {
    width: 10px;
    height: 300px;
    top: 20%;
  }

  .down_ap {
    left: 90%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      //  三角形
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid $color;
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);

    }
  }

  .up_ap {
    left: 60%;
    top: 17%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $color;
      bottom: 0;
      left: 50%;
      transform: translateY(100%) translateX(-50%);
    }
  }

  .btn {
    //  三角形
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid blue;
    border-top: 10px solid transparent;
    position: absolute;
    top: 10%;
    left: 90%;
    z-index: 100;

  }


  .left_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    bottom: 35%;
    left: 65%;

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 20px solid transparent;
      border-left: 20px solid $color;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .right_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    top: 15%;
    left: 65%;

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid transparent;
      border-right: 20px solid $color;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .text {
    position: absolute;
    top: 50%;
    left: 70%;
    font-size: 2rem;
    font-weight: bold;
    color: $color;
  }

}


//  山谷风
#mountain-valley-breeze {
  img {
    width: 100%;
  }

  position: relative;
}

//谷风

.mountain-wind {
  .temp:nth-child(1) {
    color: $color;
    position: absolute;
    bottom: 20%;
    left: 62%;
    font-size: $font-size;
    font-weight: bold;
  }

  .temp:nth-child(2) {
    color: $color;
    position: absolute;
    bottom: 35%;
    left: 90%;
    font-size: $font-size;
    font-weight: bold;
  }

  .arrow_ap {
    position: absolute;
    background-color: $color;

  }

  .down_ap, .up_ap {
    width: 10px;
    height: 300px;
    top: 20%;
  }

  .down_ap {
    left: 62%;
    top: 30%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      //  三角形
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid $color;
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);

    }
  }

  .up_ap {
    left: 90%;
    top: 17%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $color;
      bottom: 0;
      left: 50%;
      transform: translateY(100%) translateX(-50%);
    }
  }

  .btn {
    //  三角形
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid blue;
    border-top: 10px solid transparent;
    position: absolute;
    top: 10%;
    left: 92%;
    z-index: 100;

  }


  .left_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    top: 20%;
    left: 65%;
    transform: rotateZ(-15deg);
    transform-origin: center center;

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 20px solid transparent;
      border-left: 20px solid $color;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .right_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    top: 64%;
    transform: rotateZ(-15deg);
    left: 65%;

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid transparent;
      border-right: 20px solid $color;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .text {
    position: absolute;
    top: 50%;
    left: 80%;
    font-size: 2rem;
    font-weight: bold;
    color: $color;
  }

}

//山风
.valley-wind {
  .temp:nth-child(1) {
    color: $land_color;
    position: absolute;
    bottom: 25%;
    left: 10%;
    font-size: $font-size;
    font-weight: bold;
  }

  .temp:nth-child(2) {
    color: $color;
    position: absolute;
    bottom: 40%;
    left: 40%;
    font-size: $font-size;
    font-weight: bold;
  }

  .arrow_ap {
    position: absolute;
    background-color: $color;

  }

  .down_ap, .up_ap {
    width: 10px;
    height: 300px;
    top: 20%;
  }

  .down_ap {
    left: 40%;
    top: 15%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      //  三角形
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 20px solid $color;
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);

    }
  }

  .up_ap {
    left: 10%;
    top: 30%;
    transform: translateX(-50%);

    &::after {
      content: '';
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $color;
      bottom: 0;
      left: 50%;
      transform: translateY(100%) translateX(-50%);
    }
  }

  .btn {
    //  三角形
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid blue;
    border-top: 10px solid transparent;
    position: absolute;
    top: 10%;
    left: 45%;
    z-index: 100;

  }


  .left_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    bottom: 35%;
    left: 15%;
    transform: rotateZ(-15deg);

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 20px solid transparent;
      border-left: 20px solid $color;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .right_ap {
    width: 300px;
    height: 10px;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: rotateZ(-15deg);

    &::after {
      content: '';
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid transparent;
      border-right: 20px solid $color;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .text {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 2rem;
    font-weight: bold;
    color: $color;
  }

}


//城市风

#urban-breeze {
  img {
    width: 100%;
  }

  position: relative;

  .urban-wind {
    .temp:nth-child(1) {
      color: $land_color;
      position: absolute;
      bottom: 20%;
      left: 10%;
      font-size: $font-size;
      font-weight: bold;
    }

    .temp:nth-child(2) {
      color: $color;
      position: absolute;
      bottom: 20%;
      left: 50%;
      font-size: $font-size;
      font-weight: bold;
    }

    .temp:nth-child(3) {
      color: $color;
      position: absolute;
      bottom: 20%;
      left: 90%;
      font-size: $font-size;
      font-weight: bold;
    }

    .arrow_ap {
      position: absolute;
      background-color: $color;

    }

    .down_ap, .up_ap {
      width: 10px;
      height: 400px;
      top: 20%;
    }


    .down_ap {
      left: 90%;
      transform: translateX(-50%);

      &::after {
        content: '';
        position: absolute;
        //  三角形
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid $color;
        top: 0;
        left: 50%;
        transform: translateY(-100%) translateX(-50%);

      }
    }

    .up_ap {
      left: 60%;
      top: 17%;
      transform: translateX(-50%);

      &::after {
        content: '';
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid $color;
        bottom: 0;
        left: 50%;
        transform: translateY(100%) translateX(-50%);
      }
    }


    .v1 {
      left: 10%;
    }

    .v2 {
      left: 50%;
    }

    .v3 {
      left: 90%;
    }

    .btn {
      //  三角形
      border-right: 20px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid blue;
      border-top: 10px solid transparent;
      position: absolute;
      top: 10%;
      left: 92%;
      z-index: 100;

    }

    .left_ap {
      width: 400px;
      height: 10px;
      position: absolute;
      bottom: 35%;
      left: 65%;

      &::after {
        content: '';
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid transparent;
        border-left: 20px solid $color;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .right_ap {
      width: 400px;
      height: 10px;
      position: absolute;
      top: 15%;
      left: 65%;

      &::after {
        content: '';
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid $color;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
      }

    }


    .w1 {
      left: 15%;
    }

    .w2 {
      left: 15%;
      bottom: 20%;
    }

    .w3 {
      left: 55%;
      top: 15%;
    }

    .w4 {
      left: 55%;
      top: 80% !important;

    }

    .text {
      position: absolute;
      top: 50%;
      left: 70%;
      font-size: 2rem;
      font-weight: bold;
      color: $color;
    }

  }
}


//问题样式
.quiz-options {
  display: flex;
  gap: 20px;
}

.note {
 position: fixed;
  bottom: 10%;
  right: 10%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: wheat;
}
